<html>
    <head>
        <title>Index file</title>
    </head>
    <body>
        <div>
            <% users.forEach(user => { %>
                <div>
                    <p><%= user.name %></p>
                    <p><%= user.email %></p>
                </div>
            <%})%>
        </div>
        <button><a href="/form">Add User Here</a></button>
    </body>
</html>